# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
data/